In [28]:
import pandas as pd

In [30]:
df = pd.read_csv(r"C:\Users\Vinod R\Desktop\Tex\Sample_Files\Book1.csv")
df

,Ice Cream Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Vanilla,Vanilla,Yes,4.2,4.8,9.0
1,Chocolate,Chocolate,No,3.5,4.0,7.5
2,Strawberry,Chocolate,Yes,4.9,4.2,9.1
3,Mint Chip,Chocolate,Yes,4.3,3.7,8.0
4,Coffee,Vanilla,No,2.5,4.1,6.6
5,Rocky Road,Vanilla,Yes,4.7,4.9,9.6
6,Pistachio,Vanilla,Yes,4.8,3.3,8.1
7,Butter Pecan,Chocolate,Yes,4.4,4.0,8.4
8,Cookies & Cream,Chocolate,Yes,4.9,4.2,9.1
9,Matcha,Vanilla,Yes,4.2,3.5,7.7

In [ ]:
#df.groupby(['Base Flavor']).mean()

In [32]:
df.groupby('Base Flavor').count()

,Ice Cream Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
Base Flavor,,,,,
Chocolate,5,5,5,5,5
Vanilla,5,5,5,5,5

In [34]:
df.groupby('Base Flavor').min() 
#shows the minimum value in chocolate and vanilla

,Ice Cream Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
Base Flavor,,,,,
Chocolate,Butter Pecan,No,3.5,3.7,7.5
Vanilla,Coffee,No,2.5,3.3,6.6

In [36]:
df.groupby('Base Flavor').max()

,Ice Cream Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
Base Flavor,,,,,
Chocolate,Strawberry,Yes,4.9,4.2,9.1
Vanilla,Vanilla,Yes,4.8,4.9,9.6

In [58]:
df.groupby('Base Flavor').sum()

,Ice Cream Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
Base Flavor,,,,,
Chocolate,ChocolateStrawberryMint ChipButter PecanCookie...,NoYesYesYesYes,22.0,20.1,42.1
Vanilla,VanillaCoffeeRocky RoadPistachioMatcha,YesNoYesYesYes,20.4,20.6,41.0

In [ ]:
#here the outcome is different from that of expected

In [ ]:
#.gg = aggregate function

In [60]:
df.groupby('Base Flavor').agg({'Flavor Rating': ['mean', 'max', 'count', 'sum']})

            Flavor Rating
                     mean  max count   sum
Base Flavor
Chocolate            4.40  4.9     5  22.0
Vanilla              4.08  4.8     5  20.4

In [62]:
df.groupby('Base Flavor').agg({'Flavor Rating': ['mean', 'max', 'count', 'sum'], 'Texture Rating': ['mean', 'max', 'count', 'sum']})

            Flavor Rating                  Texture Rating
                     mean  max count   sum           mean  max count   sum
Base Flavor
Chocolate            4.40  4.9     5  22.0           4.02  4.2     5  20.1
Vanilla              4.08  4.8     5  20.4           4.12  4.9     5  20.6

In [64]:
df

,Ice Cream Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Vanilla,Vanilla,Yes,4.2,4.8,9.0
1,Chocolate,Chocolate,No,3.5,4.0,7.5
2,Strawberry,Chocolate,Yes,4.9,4.2,9.1
3,Mint Chip,Chocolate,Yes,4.3,3.7,8.0
4,Coffee,Vanilla,No,2.5,4.1,6.6
5,Rocky Road,Vanilla,Yes,4.7,4.9,9.6
6,Pistachio,Vanilla,Yes,4.8,3.3,8.1
7,Butter Pecan,Chocolate,Yes,4.4,4.0,8.4
8,Cookies & Cream,Chocolate,Yes,4.9,4.2,9.1
9,Matcha,Vanilla,Yes,4.2,3.5,7.7

In [81]:
#df.groupby(['Base Flavor','Liked']).mean()

In [87]:
df.groupby(['Base Flavor','Liked']).agg({'Flavor Rating': ['mean', 'max', 'count', 'sum']})

                  Flavor Rating
                           mean  max count   sum
Base Flavor Liked
Chocolate   No            3.500  3.5     1   3.5
            Yes           4.625  4.9     4  18.5
Vanilla     No            2.500  2.5     1   2.5
            Yes           4.475  4.8     4  17.9

In [89]:
df.groupby('Base Flavor').describe()

            Flavor Rating                                           \
                    count  mean       std  min  25%  50%  75%  max
Base Flavor
Chocolate             5.0  4.40  0.574456  3.5  4.3  4.4  4.9  4.9
Vanilla               5.0  4.08  0.925743  2.5  4.2  4.2  4.7  4.8

            Texture Rating        ...           Total Rating                  \
                     count  mean  ...  75%  max        count  mean       std
Base Flavor                       ...
Chocolate              5.0  4.02  ...  4.2  4.2          5.0  8.42  0.697854
Vanilla                5.0  4.12  ...  4.8  4.9          5.0  8.20  1.164045


             min  25%  50%  75%  max
Base Flavor
Chocolate    7.5  8.0  8.4  9.1  9.1
Vanilla      6.6  7.7  8.1  9.0  9.6

[2 rows x 24 columns]